core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt
kaggle.json
inputs/datasets/raw/*.csv
outputs/datasets/collection/*.csv
outputs/datasets/cleaned/*.csv
outputs/datasets/cleaned/*.csv
outputs/ml_pipeline/predict_amount/v1/*.pkl